body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.FirstView {
    width: 100%;
    height: 250px;
    background-color: rgb(29, 215, 235);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 0 20px;
    font-family: Arial;

}

.sect1 {
    text-align: center;
    margin-top: -2em;
}

.sect2 {
    text-align: center;
    margin-top: 10px;
}

.sect3 {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sect3 input {
    margin-right: 15px;
    height: 30px;
}

.freeTrial {
    background-color: orange;
    color: white;
    border-radius: 5px;
    height: 35px;
    border: none;
}

.freeTrial:hover {
    background-color: black;
    cursor: pointer;

}

.sect4 {
    text-align: center;
    margin-top: 10px;
}


.container {
    display: flex;
    justify-content: center;
    gap: 10em;
    position: relative;
    margin-top: -20px;
}

.box {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.box i {
    font-size: 3rem;
    margin-bottom: 10px;
}

.box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.box p {
    font-size: 1rem;
    text-align: center;
}

.centered-image {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 18;
}