.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.greeting {
    font-size: 40px;
    color: rgb(232, 131, 131);
    animation: slideInTop 1s both, bounce 1s 1s 1;
}

.shortDesc {
    font-size: 18px;
    color: rgb(132, 236, 201);

    animation: fadeInLeft 3s ease-in;
}

.majorDesc {
    color: rgb(51, 49, 49);
}

.carousel {
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

.caroHead {

    text-align: left;
}

.caroHead .h3 {
    display: flex;
    justify-content: left;
    text-align: left;
    width: 8em;
}

@keyframes slideInTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-160px);
    }

    25% {
        opacity: 0.4;
        transform: translateX(-108px);
    }

    50% {
        opacity: 0.6;
        transform: translateX(-72px);
    }

    75% {
        opacity: 0.8;
        transform: translateX(-32px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.typing-text ul {
    display: flex;
    flex-direction: column;

    text-align: light;
    gap: 3vh;
}

.typing-text ul li {
    opacity: 0;
    text-align: left;
}

.fade-in ul li {
    animation: fade-in-animation 1s forwards;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in ul li:nth-child(1) {
    animation-delay: 0.5s;
}

.fade-in ul li:nth-child(2) {
    animation-delay: 1.2s;
}

.fade-in ul li:nth-child(3) {
    animation-delay: 2s;
}

.fade-in ul li:nth-child(4) {
    animation-delay: 2.7s;
}

.fade-in ul li:nth-child(5) {
    animation-delay: 3.4s;
}

/* .typing-text {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;

    /* animation: typing 3s steps(40, end) both; */
/* 

.typing-animation ul {
    animation: typing 6s steps(40);
    display: inline-block;
}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.typing-animation ul li {
  
    list-style: none;
    animation: appear 0.8s ease-in-out forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    25% {
        transform: translateX(-15px);
    }

    40% {
        transform: translateX(-12px);
    }

    50% {
        transform: translateX(-10px);
    }

    75% {
        transform: translateX(-5px);
    }

    90% {
        transform: translateX(-3px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

*/
.arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 2px solid #007bff;
    /* Blue color */
    border-top: 2px solid #007bff;
    /* Blue color */
    transform: rotate(45deg);
    margin-right: 8px;
}

/* @keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
} */