.authPage {
    margin-top: 3vh;
    width: 100%;
    height: 120%;
    background-color: whitesmoke;
}

.signup {

    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.signup:hover {
    background-color: whitesmoke;
}



.wrapper {
    width: 60%;
    height: 75%;
    -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    display: flex;
    align-items: center;
    border-radius: 20px;
}


.left,
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.or {
    border: 2px solid lightgray;
    border-radius: 50%;
    padding: 10px;
    color: gray;
    background-color: white;
    font-weight: bold;
}

.line {
    width: 0.5px;
    height: 70%;
    background-color: lightgray;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}

.signupButton {
    width: 150px;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.signupButton:hover {
    background-color: black;
    transform: translateY(-12px);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}

.google {
    background-color: #df4930;
}

.facebook {
    background-color: #507cc0;
}

.github {
    background-color: rgb(80, 77, 77);
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

input {
    width: 200px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.submit {
    width: 200px;
    background-color: rgba(128, 0, 128, 0.671);
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.submit:hover {
    background-color: black;
    color: whitesmoke;
    transform: translateY(-12px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.signupTitle {
    position: absolute;
    top: 150px;
    color: black;
}

.link {
    color: inherit;
    text-decoration: none;
}