.GSC {
    display: flex;
}

.GSC-main {
    background-color: #f0f0f0;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.GSC-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.findButton {
    width: 20%;
    margin: auto;
}